.Catalog {
  height: 100% ;
  background: #fff;
  padding: 50px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 20px 0px rgba(209, 207, 209, 1);
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.CatalogWrapper {
  width: 100%;
}

.CatalogItem {
  height: 200px;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
  transition: 0.8s ;
}

.CatalogItem:hover {
  box-shadow: 0 0 13px 0 rgba(0,0,0,.4);
  margin: -20px -5px 0px -25px;
  /* height: 140%; */
  background: white;
  z-index: 10;
}