.Catalog {
  height: 100% ;
  background: #fff;
  padding: 50px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 20px 0px rgba(209, 207, 209, 1);
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.CatalogWrapper {
  width: 100%;
}

.CatalogItem {
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
  transition: 0.8s ;
  border-radius: 5px;
}

.CatalogItem:hover {
  box-shadow: 0 0 13px 0 rgba(0,0,0,.4);
  margin: -20px -5px 0px -25px;
  height: 110%;
  background: white;
  z-index: 99;
}

.imgItem {
  height: 230px;
  margin-block-end: 20px;
}

.imgItem > img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.moreInfo {
  display: none;
}

.CatalogItem:hover > .moreInfo {
  display: block;
}
.CatalogItem:hover > .imgItem {
  margin-block-end: 40px;

}