@import url("https://fonts.googleapis.com/css?family=Text+Me+One");

html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}
#root {
  height: 100%;
}

.App {
  font-family: "Text Me One", sans-serif;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url("https://uploads.codesandbox.io/uploads/user/015aef81-9a56-4322-830b-de62988b5df8/xVuY-hookahwallpapers.png"); */
  background-image: url("https://uploads.codesandbox.io/uploads/user/015aef81-9a56-4322-830b-de62988b5df8/-aK8-%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202019-01-28%20%D0%B2%2013.25.44.png");
  background-repeat: repeat;
  background-size: 150px 150px;
}

.LoginBox {
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.Zagolovok {
  background: #70a3f4;
  border-radius: 3px;
  box-shadow: inset 0px 0px 20px 0px rgba(245, 245, 245, 1);
}

.login {
  background: #3de7ed;
  padding: 20px 50px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 20px 0px rgba(209, 207, 209, 1);
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs > input {
  background: #3de7ed;
  height: 45px;
  font-size: 22px;
  border: 0px;
  border-bottom: solid 2px #70a3f4;
  text-align: center;
  margin-block-end: 30px;
}

.Buttons {
  display: flex;
  flex-direction: column;
}

.btn-submit {
  height: 40px;
  background: #1ee63c;
  border: 0px;
  box-shadow: 0px 0px 5px 0px rgba(209, 207, 209, 1);
}

.alertBlock {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background: red;
  box-shadow: inset 0px -3px 10px 0px rgba(120, 120, 120, 1);
}

.alertBlock > p {
  padding-top: 5px;
  font-weight: bold;
}
